@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;300;400;500;700&display=swap');


/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 60px;
}

.navbar {
    z-index: 100;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu a {
    color: #fff;
    letter-spacing: -2;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.navbar_togglebtn {
    display: none;
}

.text_wrap {
    width: 100%;
    margin-top: 400px;
    margin-left: 60px;
}

.text_wrap p {
    font-weight: 700;
    font-size: 16px;
    color: #FF3C28;
    font-family: 'Poppins', sans-serif;
}

.text_wrap h4 {
    font-size: 24px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.text_wrap h1 {
    line-height: 1.2;
    font-size: 40px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
}

.text_wrap a {
    padding: 12px 24px;
    border-radius: 120px;
    border: 1px solid #fff;
    line-height: 1;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.text_wrap a:hover {
    background-color: #fff;
    color: #333333;
    font-weight: 700;
}

.video_wrap {
    width: 100vw;
}

video {
    pointer-events: none;
    z-index: 0;
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 메인-최신음악 */

.new_music .container h2 {
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 12px;
    color: #333333;
    font-size: 24px;
    letter-spacing: -2%;
    font-family: 'Noto Sans KR', sans-serif;
}

.new_music .container ul {
    margin-left: 20px;
}

.new_music .container li {
    display: inline;
}

.new_music .container a {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -2%;
    text-decoration: none;
    color: #fff;
    background-color: #d5d5d5;
    border-radius: 80px;
    padding: 4px 16px;
}

.new_music .container li:not(:last-child) {
    margin-right: 2px;
}

.new_frame {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 80px;
}


.new_album {
    position: relative;
    margin-top: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -2%;
}

.new_album > img {
    width: 164px;
    height: 164px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.6);
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
} 

.new_overlay {
    background-color: rgba(0,0,0,0.4);
    width: 164px;
    height: 164px;
    border-radius: 10px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;  
    top: 50%;
    left: 50%;
    padding: 8px;
    transform: translate(-50%, -66%);
}

.new_overlay img {
    margin-top: 110px;
    position: relative;
    float: right;
}

.new_album:hover .new_album img {
    opacity: 0.3;
}

.new_album:hover .new_overlay {
    opacity: 1;
}

.new_album > h4 {
    margin-top: 12px;
    font-size: 16px;
    color: #555555;
}

.new_album > p {
    font-size: 14px;
    color: #a3a3a3;
}

.new_music .container a:hover {
    background-color: #FF3C28;
}

.new_music .container li .current{
    background-color: #FF3C28;
}

/* 메인-벅스차트 */

.chart .container h2 {
    margin-top: 120px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 24px;
    letter-spacing: -2%;
    font-family: 'Noto Sans KR', sans-serif;
}

.chart .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart .container li {
    display: inline;
}

.chart .container a {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -2%;
    text-decoration: none;
    color: #fff;
    background-color: #d5d5d5;
    border-radius: 80px;
    padding: 4px 16px;
}

.chart .container a:hover {
    background-color: #FF3C28;
}

.chart .container li .current{
    background-color: #FF3C28;
}

.chart .container li:not(:last-child) {
    margin-right: 8px;
}

.chart_wrap {
    width: 1040px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 120px;
    color: #555555;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.chart_wrap hr {
    margin-bottom: 4px;
    border: 0.8px solid #333333;
}

.chart_list {
    width: 100%;
    height: 56px;
}

.chart_list > .list {
    border-bottom: 1px solid #ddd;
}

.chart_list > .list > div {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0;
}

.chart_list img {
    border-radius: 4px;
}

.chart_list .c1 {
    width: 5%;
    text-align: center;
}

.chart_list .c3 {
    width: 60%;
    margin-left: 20px;
}


/* 메인-뮤직포스트 */
.music_post .container h2 {
    margin-top: 120px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 24px;
    letter-spacing: -2%;
    font-family: 'Noto Sans KR', sans-serif;
}

.post_frame {
    width: 1100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 160px;
}

.post_wrap {
    box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.2);
    overflow: hidden;
    width: 250px;
    height: 320px;
    border-radius: 10px;
}

.post_wrap img {
    width: 250px;
}

.article_text {
    width: 230px;
}

.article_text a {
    padding: 8px;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}

.article_text p {
    margin-left: 12px;
    margin-bottom: 8px;
    color: #a3a3a3;
}

.article_text h3 {
    margin-left: 12px;
    color: #333333;
}

/* 푸터 */
footer {
    bottom: 0;
    width: 100vw;
}

footer .container {
    padding: 40px;
    width: 100%;
    height: 200px;
    background-color: #333333;
}

.footA {
    display: inline-block;
    vertical-align: middle;
}

.footA span {
    margin-left: 20px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 14px;
}

footer p {
    margin-top: 24px;
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 14px;
}

.sns {
    float: right;
    margin-left: 20px;
}